.headerContainer {
  display: flex;
  justify-content: space-between;
  color: black;
  background-color: white;
}

.headerContainerDark {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: black;
}
